# Dependencies
node_modules/

# Nuxt build
frontend/.nuxt/
frontend/.output/
frontend/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Env
.env
.env.*

# Docker
docker-data/

# Backend
backend/tmp/